body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: cadetblue;
    background-size: cover;
}

#navigation_bar {
    width: 100%;
    height: 60px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;

    #inner {
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .nav{
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            background-color: aquamarine;
            border-radius: 1em;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                background-color: aqua;
            }

            span {
                color: blueviolet;
                font-size: 20px;
                font-family: cursive;
            }
        }
    }
    
}